@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Open+Sans&display=swap');

.first {
    padding-top: 7rem;
}

.container {
    margin-bottom: 2rem;
}

#players input {
    width: 75%;
}

#start {
    margin-left: auto;
}

.modal-body,
.mb-3,
.w-100 {
    font-family: 'Open Sans', serif;
}