@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* default for extra-small screens */

#nav-links, .logo-name {
    display: none;
}

.first {
    padding-top: 7rem;
}

.container {
    margin-bottom: 2rem;
}

input {
    width: 75%;
}

.modal-body,
.mb-3,
.w-100 {
    font-family: 'Lato', serif;

}

#start {
    margin-left: auto;
}

.content-image-container {
    text-align: center;
    margin-top: -3rem;
}

#btn-start {
    margin-top: -11rem !important;
}

@media (min-width: 768px) {
   #nav-links, .logo-name {
       display: block;
   }

}

