@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
    text-align: center;
}

#nav-links {
    display: none;
}

h1 {
    font-weight: 700;
}

.first {
    padding-top: 7rem;
}

.container {
    margin-bottom: 0;
}

.player1,
.player2 {
    font-size: 40px;
} 

.code {
    font-size: 32px;
    color: #FFAE27;
    font-weight: 900;
}

.fa {
    font-size: 1.5rem;
    padding: .3rem;
}

.timer {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.min,
.sec {
    font-size: 36px;
}

.card {
    padding: 80px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.text-center {
    padding-bottom: 20px;
}

#modal-vote-row {
    width: 60%;
}

.modal {
    background-color: #FFAE27;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
    background-color: #ffae27 !important;
    border-color: #EFEFEF;
    color: black;
}

@media (min-width: 768px) {
    #nav-links {
        display: initial;
    }
}