@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Open+Sans&display=swap');

/* * {
  box-sizing: border-box;
} */

.accent-card {
  font-family: 'Open Sans', serif;
  background-color: #fff9f5;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 14px 14px 32px 0 rgba(102, 123, 139, .16);
}

body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 1.2rem;
}

ul {
  font-size: 17px;
}

hr {
  width: 85%;
}
.w-70 {
  width: 70%;
}

.first {
  padding-top: 10rem;
}

.container {
  margin-bottom: 20rem;
}

input {
  font-family: 'Open Sans', serif;
  border: none;
  border-bottom: solid black 2px;
  padding: .5rem;
  vertical-align: bottom;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: dodgerblue !important;
}

.join {
  padding: 10px;
}

.navbar-brand {
  
}

.logo {
  margin: 3px;
}

.content-image {
  margin: 2rem;
}
