/**
  red: #ff4047
  yellow: #ffae27
  blue: #0182e5
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.accent-card {
  background-color: #FFAE27;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 14px 14px 32px 0 rgba(18, 19, 19, 0.379);
}

nav {
  border-bottom: solid gray 1px;
}

footer {
  font-size: 16px;
  left: 0;
  width: 100%;
  font-family: 'Open Sans', serif;
  margin-top: 5rem;
  position: absolute; 
  background-color: #e6af2e;
  padding: 5px;
}

body {
  font-family: 'Lato', serif;
  font-size: 18px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

header {
  font-weight: 900;
}

.img-title {
  position: absolute;
  left: 0px;
  top: 127px;
  width: 235px;
}

#left-img {
  left: -31px;
}

h3 {
  font-size: 1.4rem;
}

ul {
  font-size: 18px;
}

hr {
  width: 85%;
}

a, #nav-links {
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
}

.w-70 {
  width: 70%;
}

.first {
  padding-top: 10rem;
}

.container {
  margin-bottom: 18rem;
}

input {
  font-family: 'Open Sans', serif;
  border: none;
  border-bottom: solid black 2px;
  padding: .5rem;
  vertical-align: bottom;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ffae27 !important;
  border-color: #ffae27;
  color: black;
}

.join {
  padding: 10px;
}

.logo {
  margin: 3px;
}

.content-image {
  margin: 2rem;
}

.content-image-container {
  text-align: center;
}

.social-media {
  width: 35px;
  height: 35px;
}