@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
/** TODO: HAMBURGER MENU ====================================== */

/** Body and General Styling */
body {
    text-align: center;
}

footer {
    text-align: left;
}
 
.first {
    padding-top: 7rem;
}

.gameContainer {
    margin-bottom: 0;
}

/** Navigation */
#nav-links {
    display: none;
}

#error {
    margin-top: 150px;
    left: 25%;
}

/** Players Container */
h1 {
    font-weight: 700;
}

#topic {
    margin-top: 10px;
}

/** Timer */
.timer {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 435px;
}

.timerCard {
    padding: 40px 80px 40px 80px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.fa {
    font-size: 1.5rem;
    padding: .3rem;
}

.minutes {
    font-size: 36px;
}

.bg-yellow {
    background-color: #ffae27 !important;
}

/* Button Groups */
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:disabled {
    background-color: #ffae27 !important;
    border-color: #EFEFEF;
    color: black;
}

.buttonContainer {
    margin-top: 1rem;
}

.buttonContainer > Button {
    margin: .5rem;
    margin-bottom: 0rem;
}

.votingButton {
    margin-right: 3rem;
}

/** Join Code */
.code {
    font-size: 32px;
    color: #FFAE27;
    font-weight: 900;
}

/** Modals */
.modal {
    background-color: #FFAE27;
}

.winner-img {
    width: 100%;
}

@media (min-width: 600px) {
    #nav-links {
        display: initial;
    }

    .timerCard {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 768px) {
    #nav-links {
        display: initial;
    }
}