/**
  red: #ff4047
  yellow: #ffae27
  blue: #0182e5
*/
/** TODO: HAMBURGER MENU ====================================== */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/** General style */
.w-70 {
  width: 70%;
}

body {
  font-family: 'Lato', sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

a,
#nav-links {
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
}

/** Nav */
.logo {
  margin: 3px;
}

nav {
  background-color: white;
  border-bottom: solid #efefef 1px;
}

nav a:hover, nav span {
  color: black;
  text-decoration: none; 
  cursor: pointer;
}

/** Title Card */
#title-card {
  padding-top: 10rem;
  margin-bottom: 9rem;
}

hr {
  width: 85%;
}

.subtitle {
  margin-top: -20px;
  font-size: 18px;
}

.display-1 {
  font-size: 4rem;
}

.img-title {
  display: none;
}

input {
  width: 100%;
  border: none;
  border-bottom: solid black 2px;
  padding: .5rem;
  vertical-align: bottom;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:disabled {
  background-color: #ffae27 !important;
  border-color: #F9C784;
  color: black;
}

.join {
  padding: 10px;
}

/** How to play */
#how-to-play {
  /* background-color: #F9C784; */
  background-color: #cfcce0;
  border: solid lightgray 1px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 14px 14px 32px 0 rgba(18, 19, 19, 0.379);
}

.subcaption {
  font-size: 18px;
}

li {
  margin-bottom: 5px;
}

h3 {
  font-size: 1.3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content-image {
  margin: 2rem;
  display: none;
}

#how-to-play p, ol, #how-to-play a {
  font-size: 14px;
}

#how-to-play a {
  margin: 0px;
  text-decoration: underline;
}

.extra-space {
  margin-bottom: 400px;
}

/** Footer */
footer {
  background-color: #ffae27;
  padding: 5px;
  margin-top: 4rem;
  border-top: solid #F9C784 1px;

  /* position: fixed; */
  left:0;
  bottom:0;
  right:0;
  width: 100%;
}

footer,
footer a {
  font-size: 16px;
}

footer a {
  text-decoration: underline;
}

.social-media {
  width: 35px;
  height: 35px;
}

/* Specifically for resizing images */
@media (min-width: 880px) {
  .display-1 {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 24px;
  }

  .img-title {
    max-width: 130px;
    display: inherit;
  }

  .content-image {
    display: inherit;
  }

  #title-card {
    margin-bottom: 18rem;
  }
}

/* Medium-sized screens */
@media (min-width: 1050px) {
  .img-title {
    max-width: 180px;
    display: inherit;
  }

  ul {
    font-size: 18px;
  }

  .display-4 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .resp-width {
    width: 100%;
  }
}

/* Largest screens */
@media (min-width: 1220px) {
  .img-title {
    max-width: 235px;
  }
}