/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
<<<<<<< HEAD

section, header {
  font-display: Arial, serif;
  width: 50%;
}
=======
>>>>>>> master

body {
  background-color: orange;
  font-family: 'Lato', sans-serif;
}

main, header {
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 85%;
  text-align: center;
  border-bottom: solid black 4px;
}

h1 {
  margin: 5px;
}

h2 {
  margin: 10px;
  font-size: 15px;
}

img {
  max-width: 240px;
}

main {
  width: 77%;
}

h3 {
  font-style: italic;
}

hr {
  height: 2px;
  background-color: black;
  border: none;
  margin-top: 25px;
}


ol li {
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  img {
    max-width: none;
  }

  h2 {
    font-size: 24px;
  }

  header {
    width: 60%;
  }

  main {
    width: 50%;
  }

} */